[PHP]
engine                          = On
short_open_tag                  = Off
expose_php                      = Off
display_errors                  = Off
display_startup_errors          = Off
log_errors                      = On
error_log                       = /var/log/php{{ php_version }}-fpm-errors.log
error_reporting                 = E_ALL & ~E_DEPRECATED & ~E_STRICT
html_errors                     = Off
max_execution_time              = 30
max_input_time                  = 60
max_input_vars                  = 1000
memory_limit                    = 256M
file_uploads                    = On
upload_max_filesize             = 64M
max_file_uploads                = 20
post_max_size                   = 64M
allow_url_fopen                 = Off
allow_url_include               = Off
disable_functions               = pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_setpriority,passthru,system,popen,proc_open,shell_exec,exec
cgi.fix_pathinfo                = 0
date.timezone                   = {{ system_timezone }}
realpath_cache_size             = 4096k
realpath_cache_ttl              = 600
serialize_precision             = -1

session.save_handler            = files
session.save_path               = /var/lib/php/sessions
session.use_strict_mode         = 1
session.use_cookies             = 1
session.use_only_cookies        = 1
session.name                    = SESSID
session.auto_start              = 0
session.cookie_lifetime         = 0
session.cookie_secure           = 1
session.cookie_httponly         = 1
session.cookie_samesite         = Lax
session.gc_maxlifetime          = 1440
session.gc_probability          = 1
session.gc_divisor              = 100

[opcache]
opcache.enable                  = 1
opcache.enable_cli              = 0
opcache.memory_consumption      = 128
opcache.interned_strings_buffer = 16
opcache.max_accelerated_files   = 10000
opcache.revalidate_freq         = 60
opcache.validate_timestamps     = 0
opcache.save_comments           = 1
opcache.fast_shutdown           = 1
opcache.jit                     = tracing
opcache.jit_buffer_size         = 64M